@font-face {
  font-family: 'AuthenticSans';
      src: url('Fonts/AUTHENTICSans-60.woff2') format('woff2');/* Super Modern Browsers */
      src: url('Fonts/AUTHENTICSans-60.woff') format('woff'); /* Pretty Modern Browsers */
      font-style: normal;
      font-stretch: normal;
      font-weight: 60;
  }
  
  @font-face {
  font-family: 'AuthenticSans';
      src: url('Fonts/AUTHENTICSans-90.woff2') format('woff2');/* Super Modern Browsers */
      src: url('Fonts/AUTHENTICSans-90.woff') format('woff'); /* Pretty Modern Browsers */
      font-style: normal;
      font-stretch: normal;
      font-weight: 90;
  }
  
  @font-face {
  font-family: 'AuthenticSans';
      src: url('Fonts/AUTHENTICSans-130.woff2') format('woff2');/* Super Modern Browsers */
      src: url('Fonts/AUTHENTICSans-130.woff') format('woff'); /* Pretty Modern Browsers */
      font-style: normal;
      font-stretch: normal;
      font-weight: 130;
  }
  
  @font-face {
  font-family: 'AuthenticSans';
      src: url('Fonts/AUTHENTICSans-150.woff2') format('woff2');/* Super Modern Browsers */
      src: url('Fonts/AUTHENTICSans-150.woff') format('woff'); /* Pretty Modern Browsers */
      font-style: normal;
      font-stretch: normal;
      font-weight: 150;
  }
  
  @font-face {
  font-family: 'AuthenticSans';
      src: url('Fonts/AUTHENTICSans-Condensed-60.woff2') format('woff2');/* Super Modern Browsers */
      src: url('Fonts/AUTHENTICSans-Condensed-60.woff') format('woff'); /* Pretty Modern Browsers */
      font-style: normal;
      font-stretch: condensed;
      font-weight: 60;
  }
  
  @font-face {
  font-family: 'AuthenticSans';
      src: url('Fonts/AUTHENTICSans-Condensed-90.woff2') format('woff2');/* Super Modern Browsers */
      src: url('Fonts/AUTHENTICSans-Condensed-90.woff') format('woff'); /* Pretty Modern Browsers */
      font-style: normal;
      font-stretch: condensed;
      font-weight: 90;
  }
  
  @font-face {
  font-family: 'AuthenticSans';
      src: url('Fonts/AUTHENTICSans-Condensed-130.woff2') format('woff2');/* Super Modern Browsers */
      src: url('Fonts/AUTHENTICSans-Condensed-130.woff') format('woff'); /* Pretty Modern Browsers */
      font-style: normal;
      font-stretch: condensed;
      font-weight: 130;
  }
  
  
  @font-face {
  font-family: 'AuthenticSans';
      src: url('Fonts/AUTHENTICSans-Condensed-150.woff2') format('woff2');/* Super Modern Browsers */
      src: url('Fonts/AUTHENTICSans-Condensed-150.woff') format('woff'); /* Pretty Modern Browsers */
      font-style: normal;
      font-stretch: condensed;
      font-weight: 150;
  }

#catalog{
    text-decoration: none;
    color: black;
}

#about{
    text-decoration: none;
    color: black;
    text-align: right;
    float: right;
}

.NAV{
    margin: 0px 0px 12px;
    font-family: AuthenticSans;
    font-style: normal;
    font-stretch: condensed;
    font-weight: 90;
    font-size: 16px;
    display: inline;
}


#videoElement {
  object-fit: cover;
  position: relative;
	margin: 0px auto;
  width: 100%    !important;
  height: 100%   !important;
  
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg); 
}

  
.image {
  object-fit: contain;
  position: relative;
	margin: 0px auto;
	max-width: 100%;
	max-height: 100%;
  
}
  
.grid-container {
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: 1rem;
  place-items: stretch;
  align-self: start;
}
  
.template1 {
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . c c c c c . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . c c c c c . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . c c c c c . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}
  
.template2 {
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . c c c c c . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

.template3 {
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . c c c c c . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . c c c c c . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . c c c c c . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
}
  
.template4 {
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . c c c c c . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . c c c c c . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . c c c c c . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . c c c c c . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . c c c c c . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . c c c c c . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . . . ."
    ". . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
}

  .template5 {
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . c c c c c . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

  .template6 {
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . c c c c c . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . c c c c c . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . c c c c c . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

  .template7{
  grid-template-areas:
     ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . c c c c c . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . c c c c c . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . c c c c c . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . c c c c c . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . c c c c c . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
}

  .template8{
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . c c c c c . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . . . . . . . . . . a a a a a a a a a . . ."
    ". . . b b b b b b b b . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . b b b b b b b b . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}
  
 .template9 {
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . a a a a a a a a a . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}
  
   .template9 {
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . c c c c c . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . c c c c c . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . c c c c c . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . c c c c c . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . c c c c c . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . c c c c c . . . . . . ."
    ". . . . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
  }
  
  .template10 {
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . c c c c c . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . c c c c c . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . c c c c c . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . c c c c c . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . a a a a a a a a a a a a a a . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
}
  
  .template11{
  grid-template-areas:
     ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . c c c c c . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . c c c c c . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . c c c c c . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . c c c c c . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . c c c c c . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . c c c c c . . . . ."
    ". . . . a a a a a a a a a a a a a a . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
}
  

  
.a { 
  grid-area: a; 
}
  
.b { 
  grid-area: b; 
}
  
.c { 
  grid-area: c; 
}